<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Cadastro Atletas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/cadastro.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    
</head>

<body class="form-group col-md-8">
    <h1>Cadastro de Competição</h1>
  <!-- form id="" action="{{ url_for('')}}" method="post" enctype="application/x-www-form-urlencoded" -->

        <div>
            <label>Nome da competição:</label>
            <input id="competicao-nome" required="" type="text"
                required="required"
        </div>

        <div>
            <label>Modalidade: </label>
            <select>
                <option value="">Selecione</option>
                <option value="RA">100m rasos</option>
                <option value="LD">Lançamento de Dardos</option>
            </select>
        </div>
        
        <div>
            <label>Local da competição:</label>
            <input type="text" placeholder="Digite o local da competição"
                required="required">
        </div>

        <div>
            <label>Data da competição:</label>
            <input required="" type="date"
                maxlength="10" 
                required="required"
        </div>

        <div>
            <label>Horário da competição:</label>
            <input placeholder="00:00" required=""
                type="hour" maxlength="10"  
        </div>

            

    <form id="add" action="{{ url_for('add')}}" method="post" enctype="application/x-www-form-urlencoded">
        <section id="atleta">
            <label for="nome">Nome do Atleta: </label>
            <input id="nome" type="text" class="form-control" placeholder="Nome completo do atleta"
                required="required">
            <br>
            <label for ="idade"> Idade: </label>
            <input id='idade' placeholder="Digite a idade do atleta" 
                type="" required="required">
            <br>
            <label for="altura"> Altura </label>
            <input id="altura" type="" placeholder="Digite a altura do atleta"
                    required="required">

            <label for="peso"> Peso: </label>
            <input id="peso" type="" placeholder="Digite o peso do atleta"
                    required="required">
            
            <br>
        </section>

        <input type="submit" value="Avançar">
    </form>
    

<head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    
</html>

